asgiref
certifi
chardet
cycler
Django
django-cors-headers
django-filter
django-rest-auth
djangorestframework
gunicorn
joblib
kiwisolver
mergedeep
numpy
pandas
Pillow
psycopg2==2.7.7
pyparsing
python-dateutil
pytz
requests
scikit-learn==0.23.2
scipy
six
sqlparse
threadpoolctl
urllib3
